services:
  order-status-service-2:
    build: .
    image: order-status-service-2
    container_name: order-status-service-2
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - MONGO_URI=mongodb://host.docker.internal:27017
      - MONGO_DB_NAME=order_status_db
      - AUTH_SERVICE_URL=http://host.docker.internal:3000
      - RABBIT_URL=amqp://host.docker.internal
      - ORDERS_SERVICE_URL=http://host.docker.internal:3004

volumes:
  mongo_data:
